*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 900px;
    margin: 50px auto;
}

.column{
    display: inline-block;
    width: calc(100% / 3);
    margin: 0 -2px 30px;
    padding: 0 2px;
}

.item{
    position: relative;
}

.item img{
    width: 100%;
}

.scont{
    position: absolute;
    left: 0;
    bottom: 15px;

}